#experience-info {
    min-height: 40vh;
}

.footer_section {
    background-color: #222831;
    color: #ffffff;
    text-align: center;
}

#photos {
  min-height: 85vh;
  background: linear-gradient( hsla(0, 0%, 100%, 0.795), rgb(0, 110, 255));
  padding-top: 5px;
  margin-bottom: -15%;
}

#photos .card {
  background: linear-gradient( hsla(0, 0%, 100%, 0.795), rgb(0, 110, 255));
  margin-bottom: 20px;
  border-radius: 50px;
}

#photos h3 {
  color: rgb(255,255,255);
  margin-left: 20%;
  border-radius: 50px;
}

#photos h4 {
  color: black
}

#photos img {
  width: 150px;
  align-self: center;
  transition: .1s ease-out;
  border-radius: 25px;
}

#photos img:hover {
  width: 220px;
  align-self: center;
  transition: .5s;
}



.footer_section .footer-info {
    text-align: center;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
    text-decoration: none;
}

.container5 {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

#portfolio-info {
  min-height: 40vh;
  background: linear-gradient( hsla(0, 0%, 100%, 0.795), rgb(0, 110, 255));
  padding-bottom: 500%;
}
#portfolio{
  background: linear-gradient( hsla(0, 0%, 100%, 0.795), rgb(0, 110, 255));
  padding-bottom: 10%;
}

.skills {
    margin-top: -120px;
}

#info2 .container .card {
  background: linear-gradient( hsla(0, 0%, 100%, 0.795), rgb(0, 110, 255));
}

#info2 .container .row .card {
  margin-top: 5px;
  min-height: 11rem;
}