.navbar {
  background: linear-gradient(rgba(0, 0%, 11%, 0.795),rgba(196, 203, 204, 0.543), rgba(162, 10, 176, 0.977));
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 20px #ffffff, 0 0 40px #ffffff;
    transition: all 0.1s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #fff;
    filter: drop-shadow(0 0 0.75rem rgb(4, 230, 246));
    text-shadow: 0 0 20px rgb(7, 96, 230), 0 0 40px rgb(3, 186, 242);
    transition: all 0.1s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(100, 75, 64);
    font-size: 30px;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(100, 75, 64);
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: rgb(22, 178, 239);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }